<a href="https://colab.research.google.com/github/innekep97/lisainneke/blob/main/RevoU_MDA_Data_Cleaning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Library
We'll use only pandas here

In [ ]:
import pandas as pd

# Importing Data
From the spreadsheet

https://docs.google.com/spreadsheets/d/12q_SwJWOxSIST8tVrQp5i9rBPYYvuWMO4YDeypjqxWM/edit?gid=957510845#gid=957510845

In [ ]:
url = f"https://docs.google.com/spreadsheets/d/12q_SwJWOxSIST8tVrQp5i9rBPYYvuWMO4YDeypjqxWM/gviz/tq?tqx=out:csv&sheet=Raw_Data"
df = pd.read_csv(url)
df

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
0,ID00001,550644.0,22722.0,SET OF 6 SPICE TINS PANTRY DESIGN,7,4/19/2011,2011-04,3.95,12733.0,NaN
1,ID00002,550644.0,22979.0,PANTRY WASHING UP BRUSH,2,4/19/2011,2011-04,1.45,12733.0,NaN
2,ID00003,550644.0,84987.0,SET OF 36 TEATIME PAPER DOILIES,3,4/19/2011,2011-04,1.45,12733.0,NaN
3,ID00004,550644.0,22720.0,SET OF 3 CAKE TINS PANTRY DESIGN,1,4/19/2011,2011-04,4.95,12733.0,NaN
4,ID00005,550644.0,22993.0,SET OF 4 PANTRY JELLY MOULDS,1,4/19/2011,2011-04,1.25,12733.0,NaN
...,...,...,...,...,...,...,...,...,...,...
46427,ID46427,578459.0,22086.0,PAPER CHAIN KIT 50'S CHRISTMAS,20,11/24/2011,2011-11,2.95,12388.0,Australia
46428,ID46428,578459.0,22340.0,NOEL GARLAND PAINTED ZINC,24,11/24/2011,2011-11,0.39,12388.0,Australia
46429,ID46429,578459.0,22576.0,SWALLOW WOODEN CHRISTMAS DECORATION,20,11/24/2011,2011-11,0.85,12388.0,Australia
46430,ID46430,578459.0,22580.0,ADVENT CALENDAR GINGHAM SACK,12,11/24/2011,2011-11,5.95,12388.0,Australia
46431,ID46431,578459.0,22669.0,RED BABY BUNTING,12,11/24/2011,2011-11,2.95,12388.0,Australia

# Data Cleaning

## 1. Summary of the data
Untuk melihat jumlah row, nama-nama kolom, dan data type untuk masing-masing kolom

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46432 entries, 0 to 46431
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    46432 non-null  object
 1   InvoiceNo         45000 non-null  float64
 2   StockCode         42095 non-null  float64
 3   Description       46432 non-null  object
 4   Quantity          46432 non-null  int64
 5   InvoiceDate       46431 non-null  object
 6   InvoiceYearMonth  46432 non-null  object
 7   UnitPrice         46432 non-null  float64
 8   CustomerID        44952 non-null  float64
 9   Country           46409 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

## 2. Mendiagnosis Missing Value

In [ ]:
df.isnull().sum()

Transaction ID         0
InvoiceNo           1432
StockCode           4337
Description            0
Quantity               0
InvoiceDate            1
InvoiceYearMonth       0
UnitPrice              0
CustomerID          1480
Country               23
dtype: int64

In [ ]:
df[ df.isnull().any(axis='columns') ]

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
0,ID00001,550644.0,22722.0,SET OF 6 SPICE TINS PANTRY DESIGN,7,4/19/2011,2011-04,3.95,12733.0,NaN
1,ID00002,550644.0,22979.0,PANTRY WASHING UP BRUSH,2,4/19/2011,2011-04,1.45,12733.0,NaN
2,ID00003,550644.0,84987.0,SET OF 36 TEATIME PAPER DOILIES,3,4/19/2011,2011-04,1.45,12733.0,NaN
3,ID00004,550644.0,22720.0,SET OF 3 CAKE TINS PANTRY DESIGN,1,4/19/2011,2011-04,4.95,12733.0,NaN
4,ID00005,550644.0,22993.0,SET OF 4 PANTRY JELLY MOULDS,1,4/19/2011,2011-04,1.25,12733.0,NaN
...,...,...,...,...,...,...,...,...,...,...
46386,ID46386,569723.0,NaN,BLACK/BLUE POLKADOT UMBRELLA,3,10/6/2011,2011-10,5.95,12431.0,Australia
46388,ID46388,NaN,22738.0,RIBBON REEL SNOWY VILLAGE,-120,11/2/2011,2011-11,1.45,12415.0,Australia
46394,ID46394,NaN,NaN,POSTAGE,-1,11/4/2011,2011-11,262.73,12415.0,Australia
46413,ID46413,576394.0,NaN,BLUE HAPPY BIRTHDAY BUNTING,50,11/15/2011,2011-11,4.65,12415.0,Australia
46414,ID46414,576394.0,NaN,PINK HAPPY BIRTHDAY BUNTING,50,11/15/2011,2011-11,4.65,12415.0,Australia

## 3. Handling Missing Value
Terdapat dua pilihan dalam handling missing value, yaitu menghapus atau mengisikan suatu value

### a. Handling Missing Value - Mengisikan suatu value

In [ ]:
df.head(25)

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
0,ID00001,550644.0,22722.0,SET OF 6 SPICE TINS PANTRY DESIGN,7,4/19/2011,2011-04,3.95,12733.0,NaN
1,ID00002,550644.0,22979.0,PANTRY WASHING UP BRUSH,2,4/19/2011,2011-04,1.45,12733.0,NaN
2,ID00003,550644.0,84987.0,SET OF 36 TEATIME PAPER DOILIES,3,4/19/2011,2011-04,1.45,12733.0,NaN
3,ID00004,550644.0,22720.0,SET OF 3 CAKE TINS PANTRY DESIGN,1,4/19/2011,2011-04,4.95,12733.0,NaN
4,ID00005,550644.0,22993.0,SET OF 4 PANTRY JELLY MOULDS,1,4/19/2011,2011-04,1.25,12733.0,NaN
5,ID00006,550644.0,47580.0,TEA TIME DES TEA COSY,3,4/19/2011,2011-04,2.55,12733.0,NaN
6,ID00007,550644.0,22989.0,SET 2 PANTRY DESIGN TEA TOWELS,6,4/19/2011,2011-04,3.25,12733.0,NaN
7,ID00008,550644.0,22900.0,SET 2 TEA TOWELS I LOVE LONDON,3,4/19/2011,2011-04,3.25,12733.0,NaN
8,ID00009,550644.0,22128.0,PARTY CONES CANDY ASSORTED,12,4/19/2011,2011-04,1.25,12733.0,NaN
9,ID00010,550644.0,NaN,PINK HAPPY BIRTHDAY BUNTING,4,4/19/2011,2011-04,5.45,12733.0,NaN
10,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.10,12733.0,NaN
11,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.10,12733.0,NaN
12,ID00012,550644.0,22088.0,PAPER BUNTING COLOURED LACE,6,4/19/2011,2011-04,2.95,12733.0,NaN
13,ID00013,550644.0,22990.0,COTTON APRON PANTRY DESIGN,5,4/19/2011,2011-04,4.95,12733.0,NaN
14,ID00014,550644.0,22129.0,PARTY CONES CANDY TREE DECORATION,36,4/19/2011,2011-04,0.85,12733.0,NaN
15,ID00015,550644.0,21067.0,VINTAGE RED TEATIME MUG,6,4/19/2011,2011-04,1.25,12733.0,NaN
16,ID00016,550644.0,22149.0,FELTCRAFT 6 FLOWER FRIENDS,6,4/19/2011,2011-04,2.10,12733.0,NaN
17,ID00017,550644.0,22147.0,FELTCRAFT BUTTERFLY HEARTS,7,4/19/2011,2011-04,1.45,12733.0,NaN
18,ID00018,550644.0,22301.0,COFFEE MUG CAT + BIRD DESIGN,6,4/19/2011,2011-04,2.55,12733.0,NaN
19,ID00019,550644.0,22970.0,LONDON BUS COFFEE MUG,6,4/19/2011,2011-04,2.55,12733.0,NaN
20,ID00020,550644.0,22423.0,REGENCY CAKESTAND 3 TIER,6,4/19/2011,2011-04,12.75,12733.0,NaN
21,ID00021,550644.0,37501.0,TEA TIME TEA SET IN GIFT BOX,5,4/19/2011,2011-04,6.95,12733.0,NaN
22,ID00022,550644.0,37500.0,TEA TIME TEAPOT IN GIFT BOX,4,4/19/2011,2011-04,4.95,12733.0,NaN
23,ID00023,570467.0,22551.0,PLASTERS IN TIN SPACEBOY,12,NaN,2011-10,1.65,12607.0,USA
24,ID00024,570467.0,21915.0,RED HARMONICA IN BOX,12,10/10/2011,2011-10,1.25,12607.0,USA

In [ ]:
df['Country'] = df['Country'].fillna("USA")
df.head(25)

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
0,ID00001,550644.0,22722.0,SET OF 6 SPICE TINS PANTRY DESIGN,7,4/19/2011,2011-04,3.95,12733.0,USA
1,ID00002,550644.0,22979.0,PANTRY WASHING UP BRUSH,2,4/19/2011,2011-04,1.45,12733.0,USA
2,ID00003,550644.0,84987.0,SET OF 36 TEATIME PAPER DOILIES,3,4/19/2011,2011-04,1.45,12733.0,USA
3,ID00004,550644.0,22720.0,SET OF 3 CAKE TINS PANTRY DESIGN,1,4/19/2011,2011-04,4.95,12733.0,USA
4,ID00005,550644.0,22993.0,SET OF 4 PANTRY JELLY MOULDS,1,4/19/2011,2011-04,1.25,12733.0,USA
5,ID00006,550644.0,47580.0,TEA TIME DES TEA COSY,3,4/19/2011,2011-04,2.55,12733.0,USA
6,ID00007,550644.0,22989.0,SET 2 PANTRY DESIGN TEA TOWELS,6,4/19/2011,2011-04,3.25,12733.0,USA
7,ID00008,550644.0,22900.0,SET 2 TEA TOWELS I LOVE LONDON,3,4/19/2011,2011-04,3.25,12733.0,USA
8,ID00009,550644.0,22128.0,PARTY CONES CANDY ASSORTED,12,4/19/2011,2011-04,1.25,12733.0,USA
9,ID00010,550644.0,NaN,PINK HAPPY BIRTHDAY BUNTING,4,4/19/2011,2011-04,5.45,12733.0,USA
10,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.10,12733.0,USA
11,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.10,12733.0,USA
12,ID00012,550644.0,22088.0,PAPER BUNTING COLOURED LACE,6,4/19/2011,2011-04,2.95,12733.0,USA
13,ID00013,550644.0,22990.0,COTTON APRON PANTRY DESIGN,5,4/19/2011,2011-04,4.95,12733.0,USA
14,ID00014,550644.0,22129.0,PARTY CONES CANDY TREE DECORATION,36,4/19/2011,2011-04,0.85,12733.0,USA
15,ID00015,550644.0,21067.0,VINTAGE RED TEATIME MUG,6,4/19/2011,2011-04,1.25,12733.0,USA
16,ID00016,550644.0,22149.0,FELTCRAFT 6 FLOWER FRIENDS,6,4/19/2011,2011-04,2.10,12733.0,USA
17,ID00017,550644.0,22147.0,FELTCRAFT BUTTERFLY HEARTS,7,4/19/2011,2011-04,1.45,12733.0,USA
18,ID00018,550644.0,22301.0,COFFEE MUG CAT + BIRD DESIGN,6,4/19/2011,2011-04,2.55,12733.0,USA
19,ID00019,550644.0,22970.0,LONDON BUS COFFEE MUG,6,4/19/2011,2011-04,2.55,12733.0,USA
20,ID00020,550644.0,22423.0,REGENCY CAKESTAND 3 TIER,6,4/19/2011,2011-04,12.75,12733.0,USA
21,ID00021,550644.0,37501.0,TEA TIME TEA SET IN GIFT BOX,5,4/19/2011,2011-04,6.95,12733.0,USA
22,ID00022,550644.0,37500.0,TEA TIME TEAPOT IN GIFT BOX,4,4/19/2011,2011-04,4.95,12733.0,USA
23,ID00023,570467.0,22551.0,PLASTERS IN TIN SPACEBOY,12,NaN,2011-10,1.65,12607.0,USA
24,ID00024,570467.0,21915.0,RED HARMONICA IN BOX,12,10/10/2011,2011-10,1.25,12607.0,USA

### b. Handling Missing Value - Menghapus missing value

In [ ]:
df.isnull().sum()

Transaction ID         0
InvoiceNo           1432
StockCode           4337
Description            0
Quantity               0
InvoiceDate            1
InvoiceYearMonth       0
UnitPrice              0
CustomerID          1480
Country                0
dtype: int64

In [ ]:
df[ df.isnull().any(axis='columns') ]

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
9,ID00010,550644.0,NaN,PINK HAPPY BIRTHDAY BUNTING,4,4/19/2011,2011-04,5.45,12733.0,USA
23,ID00023,570467.0,22551.0,PLASTERS IN TIN SPACEBOY,12,NaN,2011-10,1.65,12607.0,USA
33,ID00033,570467.0,NaN,BLUE HAPPY BIRTHDAY BUNTING,3,10/10/2011,2011-10,5.45,12607.0,USA
34,ID00034,570467.0,NaN,PINK HAPPY BIRTHDAY BUNTING,3,10/10/2011,2011-10,5.45,12607.0,USA
43,ID00043,570467.0,NaN,SET OF 4 ENGLISH ROSE PLACEMATS,4,10/10/2011,2011-10,3.75,12607.0,USA
...,...,...,...,...,...,...,...,...,...,...
46386,ID46386,569723.0,NaN,BLACK/BLUE POLKADOT UMBRELLA,3,10/6/2011,2011-10,5.95,12431.0,Australia
46388,ID46388,NaN,22738.0,RIBBON REEL SNOWY VILLAGE,-120,11/2/2011,2011-11,1.45,12415.0,Australia
46394,ID46394,NaN,NaN,POSTAGE,-1,11/4/2011,2011-11,262.73,12415.0,Australia
46413,ID46413,576394.0,NaN,BLUE HAPPY BIRTHDAY BUNTING,50,11/15/2011,2011-11,4.65,12415.0,Australia
46414,ID46414,576394.0,NaN,PINK HAPPY BIRTHDAY BUNTING,50,11/15/2011,2011-11,4.65,12415.0,Australia

In [ ]:
df.dropna(subset = ['InvoiceDate'], inplace=True)

In [ ]:
df.isnull().sum()

Transaction ID         0
InvoiceNo           1432
StockCode           4337
Description            0
Quantity               0
InvoiceDate            0
InvoiceYearMonth       0
UnitPrice              0
CustomerID          1480
Country                0
dtype: int64

## 4. Mendiagnosis Duplicated Data

In [ ]:
df[ df.duplicated() ]

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
11,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.1,12733.0,USA

In [ ]:
df[ (df['InvoiceNo'] == 550644.0) & (df['StockCode'] == 22965.0) ]

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
10,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.1,12733.0,USA
11,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.1,12733.0,USA

## 5. Handling Duplicated Data
Data duplicate akan dihapus hingga hanya menyisakan satu saja yang unique

In [ ]:
df = df.drop_duplicates()

In [ ]:
df[ (df['InvoiceNo'] == 550644.0) & (df['StockCode'] == 22965.0) ]

,Transaction ID,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,InvoiceYearMonth,UnitPrice,CustomerID,Country
10,ID00011,550644.0,22965.0,3 TRADITIONAl BISCUIT CUTTERS SET,2,4/19/2011,2011-04,2.1,12733.0,USA

In [ ]:
df[ df.duplicated() ]

Empty DataFrame
Columns: [Transaction ID, InvoiceNo, StockCode, Description, Quantity, InvoiceDate, InvoiceYearMonth, UnitPrice, CustomerID, Country]
Index: []